.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#001529;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
  
  .button a {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
  }

  